body{
    background-image: url('../images/bg.jpg') !important;
    background-size: cover;
    
}
.cafe {
    display: flex;
    flex-flow: column;
    height: -1%;
    width: 25%;
    align-items: center;
    background-color: white;
    justify-content: space-around;
    
    
    border: 1px solid gray;
    margin-right: 10px;
   margin-bottom: 10px;
   
}
.top{
    text-align: center;
    
  
   
    

}
.row{
    margin-top: 100px !important;
}
h5{
    text-align: center;
    color: white;
    font-family: 'Baloo Bhai', cursive;
    margin-top: 90px !important;
    font-size: 380% !important;

}
.key{
    margin-block-end: 0px;
    margin-block-start: 15px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: 10px !important;
}
.cafe:hover{
    transition: 0.5s;
    background-color: #ef5350; 
}
.text{
    color: #e91e63 !important;
    font-family: 'Roboto Mono', monospace;
}